<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289114548704-p5osu9g8nsq4qirlpll0qbjo4aplnpkf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289114548704-p5osu9g8nsq4qirlpll0qbjo4aplnpkf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>289114548704-brb90cnerh9cq16l4acfh4ef7s3ho8ld.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAW8X0LBbzM11vO12PPWZqkts_Z34D6e3w</string>
	<key>GCM_SENDER_ID</key>
	<string>289114548704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fine.jobTimerApp</string>
	<key>PROJECT_ID</key>
	<string>app-job-timer-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>app-job-timer-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289114548704:ios:c1b7e8dab65bb1d4982385</string>
</dict>
</plist>